* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* .header {
  background: #fff;
} */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
.logo-image {
  width: 80px;
}
.logo-heading {
  font-family: Work Sans;
  font-size: 42px;
  font-weight: 700;
  margin-left: 15px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.g-color {
  color: #ff42a5;
}
.manu-bar,
.youtube-tiktok {
  display: flex;
  align-items: center;
}
.manu-bar li a {
  margin-right: 32px;
  display: flex;
  align-items: center;
  color: #3c354f;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.youtube-tiktok {
  padding: 15px 25px;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}
.fa-youtube {
  color: red;
  margin-right: 5px;
}
.fa-tiktok {
  color: black;
}
/* ......................... banner section .......................................... */
.banner-section-container {
  display: flex;
  justify-content: center;
  max-width: 1650px;
  margin: 0 auto;
}
.left-banner {
  background: linear-gradient(
      223deg,
      rgba(140, 87, 238, 0.03) 0%,
      rgba(241, 68, 174, 0.03) 100%
    ),
    url("./images/group14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55%;
  display: flex;
  align-items: center;
}
.top-banner-heading {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-banner-heading {
  font-family: Work Sans;
  font-size: 85px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-banner {
  width: 45%;
}
.right-banner-image {
  width: 85%;
}
.content-container {
  margin-left: 7rem;
}
.banner-para {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 15px;
}
.sign-in-btn {
  padding: 12px 32px;
  border: none;
  outline: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}
.go-rogue-btn {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 12px 32px;
  border: none;
  outline: none;
  outline: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 22px;
}
/* ............................we-are-gamer-section..................... */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.we-are-gamer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1330px;
  margin: 0 auto;
  padding: 50px 10px;
}
.right-gamer {
  width: 47%;
  text-align: right;
}
.left-gamer {
  width: 53%;
}
.left-gamer img {
  width: 100%;
}
.gamer-heading {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-desc {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.know-more-btn {
  padding: 12px 29px;
  border: none;
  outline: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}
.bottom-gamer-desc1 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.bottom-gamer-desc2 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}
/* .........................Responsive part for mobile device.......................... */
@media screen and (max-width: 576px) {
  /* navbar section*/
  .navbar {
    flex-direction: column;
    margin-top: 65px;
  }
  .manu-bar,
  .youtube-tiktok {
    flex-direction: column;
  }
  .nav-logo {
    margin-bottom: 30px;
  }
  .manu-bar li a {
    margin-top: 20px;
  }
  /* .........................banner section .................*/
  .banner-section-container {
    flex-direction: column-reverse;
  }
  .left-banner,
  .right-banner,
  .right-banner-image {
    width: 100%;
    padding: 20px;
  }
  .main-banner-heading {
    font-size: 40px;
  }
  .left-banner {
    background-size: contain;
    background-position: left;
    padding: 10px;
  }
  .top-banner-heading {
    font-size: 20px;
  }
  .content-container {
    margin: 10px;
  }
  /* .................... we are gamer section ..............*/
  .we-are-gamer-container {
    flex-direction: column;
    padding: 15px;
  }
  .left-gamer {
    width: 100%;
  }
  .right-gamer {
    width: 100%;
  }
}
