* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
.logo-image {
  width: 80px;
}
.logo-heading {
  font-family: Work Sans;
  font-size: 42px;
  font-weight: 700;
  margin-left: 15px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.g-color {
  color: #ff42a5;
}
.manu-bar,
.youtube-tiktok {
  display: flex;
  align-items: center;
}
.manu-bar li a {
  margin-right: 32px;
  display: flex;
  align-items: center;
  color: #3c354f;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.youtube-tiktok {
  padding: 15px 25px;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}
.fa-youtube {
  color: red;
  margin-right: 5px;
}
.fa-tiktok {
  color: black;
}
.fa-download {
  color: coral;
}
/* ......................... banner section .......................................... */
.banner-section-container {
  display: flex;
  justify-content: center;
  max-width: 1650px;
  margin: 0 auto;
}
.left-banner {
  background: linear-gradient(
      223deg,
      rgba(140, 87, 238, 0.03) 0%,
      rgba(241, 68, 174, 0.03) 100%
    ),
    url("./images/group14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55%;
  display: flex;
  align-items: center;
}
.top-banner-heading {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-banner-heading {
  font-family: Work Sans;
  font-size: 85px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-banner {
  width: 45%;
}
.right-banner-image {
  width: 85%;
}
.content-container {
  margin-left: 7rem;
}
.banner-para {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  margin-top: 15px;
}
.sign-in-btn {
  padding: 12px 32px;
  border: none;
  outline: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}
.go-rogue-btn {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 12px 32px;
  border: none;
  outline: none;
  outline: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 22px;
}
/* ............................we-are-gamer-section..................... */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.we-are-gamer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1330px;
  margin: 0 auto;
  padding: 50px 10px;
}
.right-gamer {
  width: 47%;
  text-align: right;
}
.left-gamer {
  width: 53%;
}
.left-gamer img {
  width: 100%;
}
.gamer-heading {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-desc {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.know-more-btn {
  padding: 12px 29px;
  border: none;
  outline: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}
.bottom-gamer-desc1 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.bottom-gamer-desc2 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}
/* ...............online game funny video section........... */
.online-game {
  margin-top: 100px;
}
.funny-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.online-game-heading {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
}
.online-game-desc {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 13px;
}
.online-game-container {
  max-width: 1330px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 24px;
}

.card img {
  width: 100%;
}
.card-desc {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 13px;
}
.card {
  width: 320px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 68%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 8px;
  outline: 5px solid #ff42a5;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(-300px);
}
.card:hover::before {
  opacity: 1;
}
.info {
  display: flex;
  flex-direction: column;
}
.play-btn {
  margin: 0 auto;
  color: white;
  font-size: 4rem;
  cursor: pointer;
}
.play-now {
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* ...........game lists container.......... */
.game-lists {
  max-width: 1330px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.game-card img {
  width: 50px;
}
.game-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 7px;
  cursor: pointer;
}
.game-card:hover {
  color: #f948b2;
  border-radius: 50px;
  outline: 2px solid #ff42a5;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-name {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 17px;
  font-weight: 600;
}

.game-lists-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 23px;
  place-items: center;
}
/* .....................play instantly............... */
.play-instantly {
  max-width: 1330px;
  margin: 0 auto;
}
.play-instantly-container {
  display: flex;
  justify-content: flex-start;
}
.main-image {
  width: 500px;
}
.bagde-img {
  width: 250px;
  position: relative;
  top: -160px;
  left: -150px;
  border-radius: 8px;
  border: 3px solid #fff;
}
.plan-instantly {
  width: 400px;
  margin: 0 auto;
  margin-top: 120px;
}
.plan-heading {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.plan-desc {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}
.play-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .................... */
.online-anywhere-container {
  display: flex;
  justify-content: flex-start;
}
.main-image2 {
  width: 500px;
}
.bagde-img2 {
  width: 250px;
  position: relative;
  top: -160px;
  left: 350px;
  border-radius: 8px;
  border: 3px solid #fff;
}
.online-instantly {
  width: 400px;
  margin: 0 auto;
  margin-top: 120px;
}
.online-heading {
  text-align: left;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.online-desc {
  color: #534c64;
  text-align: left;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

/* ......................careers section......................*/
.careers {
  max-width: 1330px;
  margin: 0 auto;
}
.left-careers {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%),
    url("./images/group14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 55%;
  display: flex;
  align-items: center;
}
.division-row {
  display: flex;
  gap: 90px;
}
.careers-container {
  display: flex;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding-left: 100px;
}
.right-careers img {
  width: 100%;
}
.div2 {
  text-align: right;
}
.careers-heading {
  color: #fff;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.careers-para {
  color: #fff;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
.division-row {
  margin-top: 25px;
}
.div1,
.div2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.see-positions-btn {
  padding: 12px 29px;
  border: none;
  outline: none;
  border-radius: 48px;
  color: #ff42a5;
  background: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 22px;
}
/* ....................footer section................ */
.footer {
  max-width: 1330px;
  background: #0b0223;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 0px;
}
.footer-paragraphs,
.footer-paragraphs2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-para {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  margin: 0 30px;
  margin-top: 55px;
}
.footer-para2 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  margin: 0 30px;
}
.footer-bottom {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}

.white-color {
  color: #fff;
}
.footer-icon {
  color: white;
  font-size: 2rem;
  margin: 40px 5px;
}
/* ..........................Responsive part for mobile device........................................... */
@media screen and (max-width: 576px) {
  /* navbar section*/
  .navbar {
    flex-direction: column;
    margin-top: 65px;
  }
  .manu-bar,
  .youtube-tiktok {
    flex-direction: column;
  }
  .nav-logo {
    margin-bottom: 30px;
  }
  .manu-bar li a {
    margin-top: 20px;
  }
  /* .........................banner section .................*/
  .banner-section-container {
    flex-direction: column-reverse;
  }
  .left-banner,
  .right-banner,
  .right-banner-image {
    width: 100%;
    padding: 20px;
  }
  .main-banner-heading {
    font-size: 40px;
  }
  .left-banner {
    background-size: contain;
    background-position: left;
    padding: 10px;
  }
  .top-banner-heading {
    font-size: 20px;
  }
  .content-container {
    margin: 10px;
  }
  .go-rogue-btn {
    padding: 7px 14px;
  }
  .sign-in-btn {
    padding: 7px 14px;
  }
  .know-more-btn {
    padding: 7px 14px;
  }
  /* .................... we are gamer section ..............*/
  .we-are-gamer-container {
    flex-direction: column;
    padding: 15px;
  }
  .left-gamer {
    width: 100%;
  }
  .right-gamer {
    width: 100%;
  }
  .gamer-heading {
    text-align: center;
  }
  .gamer-desc {
    text-align: center;
  }
  .bottom-gamer-desc1,
  .bottom-gamer-desc2 {
    text-align: center;
  }
  .right-gamer-container {
    text-align: center;
  }
  /* ..................online game funny videos section............. */
  .online-game {
    padding: 10px 15px;
  }
  .online-game-container {
    flex-direction: column;
    padding: 8px;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .card::before {
    height: 73%;
  }
  .game-lists-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .game-lists {
    padding: 10px;
  }
  .game-card img {
    width: 21px;
  }
  .game-name {
    font-size: 9px;
  }
  .card {
    margin: 3px 0px;
  }
  /* .........................footer section.................. */
  .footer-container {
    padding: 20px 60px;
  }
  .footer-para {
    font-size: 10px;
    margin-top: 20px;
    margin: 0 7px;
  }
  .footer-para2 {
    font-size: 10px;
    margin-top: 20px;
    margin: 0 7px;
  }
  .footer-paragraphs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 23px;
  }
  .footer-paragraphs2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  /* .............careers section............... */
  .careers-container {
    flex-direction: column;
    padding: 0px;
  }
  .left-careers {
    width: 100%;
  }
  .right-careers {
    width: 100%;
  }
  .row {
    padding: 10px;
  }
  /* .....................play instantly ........................ */

  .play-instantly-container {
    flex-direction: column;
  }
  .plan-image {
    margin: 0 auto;
    margin-top: 47px;
  }
  .main-image {
    width: 250px;
  }
  .bagde-img {
    width: 120px;
    position: relative;
    top: -100px;
    left: -50px;
  }
  .plan-instantly {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
  }
  .plan-heading {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .plan-desc {
    text-align: center;
    font-size: 18px;
  }
  /* .................. */
  .online-anywhere-container {
    flex-direction: column-reverse;
  }
  .main-image2 {
    width: 250px;
  }
  .bagde-img2 {
    width: 120px;
    position: relative;
    top: -80px;
    left: 170px;
    border-radius: 8px;
    border: 3px solid #fff;
  }
  .online-instantly {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .online-heading {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .online-desc {
    text-align: center;
    font-size: 18px;
  }
  .plan2-image {
    margin: 0 auto;
    margin-top: 47px;
  }
}
/* .......................................responsive for tablet ........................... */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .navbar,
  .banner-section-container,
  .play-instantly-container,
  .careers-container {
    flex-direction: column;
  }
  .we-are-gamer-container {
    flex-direction: column-reverse;
  }
  .right-gamer,
  .left-gamer,
  .right-banner,
  .left-banner {
    width: 100%;
    padding: 15px;
  }
  .online-game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
  }
  .play-instantly-container {
    flex-direction: column;
  }
  .plan-image {
    margin: 0 auto;
    margin-top: 20px;
  }
  .main-image {
    width: 350px;
  }
  .bagde-img {
    width: 180px;
    position: relative;
    top: -100px;
    left: -50px;
  }
  .plan2-image {
    margin: 0 auto;
  }
  .online-anywhere-container {
    flex-direction: column-reverse;
  }
  .main-image2 {
    width: 350px;
  }
  .bagde-img2 {
    width: 180px;
    position: relative;
    top: -80px;
    left: 240px;
    border-radius: 8px;
    border: 3px solid #fff;
  }
  .online-instantly,
  .plan-instantly {
    width: 80%;
  }
  .left-careers {
    width: 90%;
  }
  .game-lists-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-para {
    font-size: 14px;
  }
  .right-banner {
    width: 100%;
  }
  .right-banner img {
    width: 100%;
  }
}
